body {
    background-color: rgb(19, 21, 21);
    /* background-color: grey; */
    overflow: hidden;
}



.loadButton{
    transition: all 0.1s linear;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    font-size: 100%;
    background-color: rgb(19, 21, 21);
    color: white;
    border: 1px solid rgb(218, 227, 229);
}

.loadButton:hover{
    color: black;
    background-color: white;
    border-color: black;
}

.saveButton{
    transition: all 0.1s linear;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    font-size: 100%;
    background-color: rgb(19, 21, 21);
    color: white
}

.saveButton:hover{
    color: black;
    background-color: white;
    border-color: black;
}


.main_container {
    width: 1600px;
    position: relative;
    margin: 100px;
    justify-content: space-between;
    display: flex;
    
}

.container_editor {
    height: 500px;
    width: 700px;
    display: flex;
    flex-direction: column;
    /* outline: 2px solid white;  */
}


.container_exercises {
    height: 500px;
    width: 700px;
    display: flex;
    flex-direction: column;
    /* outline: 2px solid white; */
}


.control-panel{
    font-size: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


.languages{
    cursor: pointer;
    color: white;
    font-size: 120%;
    width: 50px;
    height: 40px;
    background-color: rgb(19, 21, 21);
    border-radius: 5px;
    border: 1px solid white;
}




.add-button{
    margin-left: auto;
    transition: all 0.1s linear;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    font-size: 150%;
    background-color: rgb(19, 21, 21);
    color: white
}

.add-button:hover{
    color: black;
    background-color: white;
    border-color: black;
}

.run-button{
    transition: all 0.1s linear;
    border-radius: 5px;
    background-color: rgb(19, 21, 21);
    color: white;
    font-size: 100%;
    height: 40px;
    width: 80px;
    border: 1px solid white;
    cursor: pointer;
}

.run-button:hover{
    background-color: white;
    color: black;
    border-color: black;
}

.exercises_title{
    color: white;
    font-size: 250%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.exercises_header{
    display: flex;
    height: 40px;
    width: 700px;
}

.editor_title{
    color: white;
    font-size: 250%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.editor_header{
    width: 700px;
    height: 40px;
    display: flex;
}


.editor{
    font-size: 100%;
    width: 700px;
    height: 450px;
}

#modal_title{
    font-size: 200%;
    font-weight: 600;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#modal{
    display: none;
    flex-direction: column;
    z-index: 1;
    background-color: rgb(19, 21, 21);
    width: 700px;
    height: 500px;
    border-radius: 5px;
}

#exercise::backdrop{
    background: black;
}

.textarea_1{
    font-weight: bold;
    overflow: hidden;
    font-size: 30px;
    resize: none;
    width: 500px;
    height: 32px;
    background-color: rgb(19, 21, 21);
    color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    outline: white solid 1px;
    font-family: Arial, Helvetica, sans-serif;
}

.textarea_2{
    font-weight: 100;
    overflow: hidden;
    font-size: 17px;
    resize: none;
    width: 500px;
    height: 350px;
    background-color: rgb(19, 21, 21);
    color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    outline: white solid 1px;
    font-family: Arial, Helvetica, sans-serif;
}



#closeButton-modal{
    transition: all 0.1s linear;
    border-radius: 5px;
    background-color: rgb(19, 21, 21);
    color: white;
    font-size: 100%;
    height: 40px;
    width: 80px;
    border: 1px solid white;
    cursor: pointer;
}

#closeButton-modal:hover{
    background-color: white;
    color: black;
    border-color: black;
}


.buttons{
    display: flex;
    /* outline: 2px solid yellow; */
    justify-content: space-between;
    margin-left: auto;
    /* styling */
    transition: all 0.1s linear;
    background-color: rgb(19, 21, 21);
    height: 40px;
    width: 250px;
}

#saveButton-modal{
    transition: all 0.1s linear;
    border-radius: 5px;
    background-color: rgb(19, 21, 21);
    color: white;
    font-size: 100%;
    height: 40px;
    width: 80px;
    border: 1px solid white;
    cursor: pointer;
}



#saveButton-modal:hover{
    background-color: white;
    color: black;
    border-color: black;
}


.newEx{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 120%;
    background-color: rgb(19, 21, 21);
    outline: white solid 1px;
    width: 700px;
    height: 100px;  
}

.container_list{
    width: 700px;
    height: 450px;
    margin-top: 10px;
    outline: 1px solid white;
    display: flex;
    flex-direction: column;

}

.container_list > * {
    margin-bottom: 10px;
}

.container_code{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.modal_header{
    display: flex;
    height: 40px;
    width: auto;
}

.modal_textarea{
    display: flex;
    width: 800px;
    height: 400px;
}

.modal_buttons{
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 165px;
    margin-left: auto;
}