body {
    background-color: rgb(19, 21, 21);
    /* background-color: grey; */
    overflow: hidden;
    display: flex;
}



.loadButton{
    transition: all 0.1s linear;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    font-size: 100%;
    background-color: rgb(19, 21, 21);
    color: white;
    border: none;
}

.loadButton:hover{
    background-color: grey;
}

.saveButton{
    transition: all 0.1s linear;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    font-size: 100%;
    background-color: rgb(19, 21, 21);
    color: white
}

.saveButton:hover{
    background-color: grey;
}


.main_container {
    width: 100%;
    height: 100%;
    padding: 5%;
    display: flex;
    
}

.container_editor {
    height: 500px;
    width: 700px;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    /* outline: 2px solid white;  */
}


.container_exercises {
    height: 500px;
    width: 700px;
    display: flex;
    flex-direction: column;
    /* outline: 2px solid white; */
}


.control-panel{
    font-size: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}



.languages{
    cursor: pointer;
    color: white;
    font-size: 120%;
    width: 70px;
    height: 40px;
    background-color: rgb(19, 21, 21);
    border-radius: 5px;
    border: none;
    overflow: hidden;
    outline: none;
}


.add-plus{
    font-size: 35px;
    font-weight: 500;
}


.circle{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    background-color: rgb(19, 21, 21);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid white;
    color: white;
}



.add-button{
    display: flex;
    position: absolute;
    bottom: 100px;
    right: 100px;
    background-color: transparent;
    /* border:1px red solid; */
    border: none;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
}


.circle:hover{
    transition: all 0.1s ease;
    background-color: rgb(255, 255, 255, 0.5);
    border: none;
    color: white;
}

.run-button{
    transition: all 0.1s linear;
    border-radius: 5px;
    background-color: rgb(19, 21, 21);
    color: white;
    font-size: 100%;
    height: 40px;
    width: 80px;
    border: none;
    cursor: pointer;
}

.run-button:hover{
    background-color: grey;
}

.exercises_title{
    color: white;
    font-size: 250%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.exercises_header{
    display: flex;
    height: 40px;
    width: 700px;
}

.editor_title{
    color: white;
    font-size: 250%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.editor_header{
    width: 700px;
    height: 40px;
    display: flex;
}


.editor{
    font-size: 100%;
    width: 700px;
    height: 450px;
    z-index: 1;
}

.modal_title{
    font-size: 150%;
    font-weight: 500;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#modal{
    padding: 20px;
    display: none;
    flex-direction: column;
    z-index: 1;
    background-color: rgb(19, 21, 21);
    width: 500px;
    height: max-content;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
}

#modal::backdrop{
    background-color: black;
    opacity: 0.5;
}


.container_textarea{
    width: 500px;
    height: 200px;
    margin-top: 20px;
    position: relative;
}

.container_textarea .input_title{
    margin-bottom: 40px;
    height: 20px;
    width: 100%;
}

.container_textarea .input_title input{
    width: 400px;
    height: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(255, 255, 255, 0.5);
    background-color: rgb(19, 21, 21);
}

.container_textarea .input_title label{
    position: absolute;
    color: rgb(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    left: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}

.input_title input:focus ~ label,
.input_title input:valid ~ label {
    transform: translateY(-20px);
    font-size: 15px;
    color: rgb(255, 255, 255);
}



.container_textarea .input_desc textarea {
    resize: none;
    width: 400px;
    min-height: 20px;
    height: auto;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    background-color: rgb(19, 21, 21);
    outline: none;
    overflow: hidden;
}

.container_textarea .input_desc label{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255, 0.5);
    pointer-events: none;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 63px;
    transition: all 0.2s ease;
}

.input_desc textarea:focus ~ label,
.input_desc textarea:valid ~ label{
    transform: translateY(-22px);
    font-size: 15px;
    color: rgb(255, 255, 255);
}



.exerciseTitleTextInput{
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.exerciseDescTextInput{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:100;
}



.closeButton-modal{
    transition: all 0.1s linear;
    border-radius: 5px;
    background-color: rgb(19, 21, 21);
    color: rgb(255, 255, 255);
    font-size: 100%;
    height: 40px;
    width: 80px;
    border: none;
    cursor: pointer;
}

.closeButton-modal:hover{
    transition: 0.1s all ease;
    background-color: grey;
}


.buttons{
    display: flex;
    /* outline: 2px solid yellow; */
    justify-content: space-between;
    margin-left: auto;
    transition: all 0.1s linear;
    background-color: rgb(19, 21, 21);
    height: 40px;
    width: 250px;
}

.saveButton-modal{
    border-radius: 5px;
    background-color: rgb(19, 21, 21);
    color: rgb(255, 255, 255);
    font-size: 100%;
    height: 40px;
    width: 80px;
    border: none;
    cursor: pointer;
    order: 1;
}



.saveButton-modal:hover{
    transition: 0.1s ease all;
    background-color: grey;
}


.newEx{
    border-radius: 10px;
    transition: all 0.1s linear;
    display: flex;
    flex-direction: column;
    height: 100px;  
    cursor: pointer;
}

.newEx:hover{
    background-color: rgb(73, 68, 68);
}

.container_list{
    width: 700px;
    height: 450px;
    margin-top: 10px;
    /* outline: 1px solid white; */
    display: flex;
    flex-direction: column;
    z-index: 2000;
}

.container_list > * {
    margin-bottom: 10px;
}

.container_code{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.modal_header{
    display: flex;
    height: 40px;
    width: auto;
}

.modal_textarea{
    display: flex;
    width: 800px;
    height: 400px;
}

.modal_buttons{
    z-index: 1111;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 165px;
    margin-left: auto;
}

.exerciseTitleText{
    margin-top: 5px;
    margin-left: 5px;
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.exerciseDescText{
    margin-left: 5px;
    font-size: 80%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}


#modal_editExercise{
    padding: 20px;
    display: none;
    flex-direction: column;
    z-index: 1222;
    background-color: rgb(19, 21, 21);
    width: 500px;
    height: max-content;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
}