html {
    font-size: 1vw;
    margin: 0;
    padding: 0;
    height: 100%;
}


*, *::before, *::after {
    box-sizing: border-box;
}
  

body {
    margin: 0;
    padding: 0;
    background-color: rgb(5, 5, 5); 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.main_container {
    width: 100%;
    height: 1000px;
    padding: 1.5em 4em 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.container_editor {
    height: 700px;
    width: 65em;
    display: flex;
    flex-direction: column;
    margin-right: 6em;
    /* outline: 2px solid white; */
}

.ace_scroller{
    background-color: rgba(21,20,21,255);
}

.editor_header{
    width: 100%;
    height: 40px;
    display: flex;
}

.editor_title{
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5em;
    font-family: "Roboto Mono";
    font-weight: lighter;
}

.editor_buttons_container{
    display: flex;
    /* outline: 2px solid yellow; */
    margin-left: auto;
    height: 40px;
    width: fit-content;
}

.control-panel{
    color: white;
    
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin-right: 0.2em;
}

.languages{
    cursor: pointer;
    color: white;
    font-size: 1.2em;
    width: fit-content;
    height: fit-content;
    height: 40px;
    background-color: rgb(5, 5, 5);
    outline: 1px solid rgb(255, 255, 255, 0.5);
    border: none;
    padding-left: 0.2em;
    border-radius: 0.5em;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease;
    cursor: pointer;
    border: none;
    border-radius: 0.5em;
    width: 4em;
    height: 40px;
    font-size: 100%;
    background-color: rgb(5, 5, 5);
    color: white;
}

.buttons:hover{
    background-color: grey;
}

.buttons_Info{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.buttons_Info:hover p{
    opacity: 1;
    visibility: visible;
}

.tooltip_info{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 3em;
    outline: 0.5px grey solid;
    color: white;
    font-size: 0.8em;
    padding: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.5em;
    width: max-content;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: all 0.1s linear 0.2s;
    background-color: rgb(5, 5, 5);
    z-index: 1111;
}

.material-symbols-outlined {
    color: rgb(255, 255, 255);
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 20;
  font-size: 2em !important;
}

#loadButton{
    transition: all 0.1s linear;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 100%;
    background-color: rgb(5, 5, 5);
    color: white;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

#loadButton:hover{
    background-color: grey;
}

.container_code{
    display: flex;
    flex-direction: column;
    margin-top: 0.2em;
}

.editor{
    font-size: 0.9em;
    font-family: "Roboto Mono";
    width: 100%;
    height: 28em;
    z-index: 1;
}

.container_output{
    margin-top: 2em;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.output_header{
    color: white;
    font-size: 1.2em;
    font-family: "Roboto Mono";
    font-weight: lighter;
    margin-bottom: 0.3em;
}


#output_area{
    display: flex;
    align-items: center;
    background-color: rgba(21,20,21,255);
    height: 5em;
    width: 100%;
}

.grey_area{
    background-color: rgba(34,34,35,255);
    height: 5em;
    width: 40px; /*Beacuse the editor doesnt adjust in size */
}

#output{
    padding-left: 0.5em;
    display: flex;
    font-family: "Roboto Mono";
    font-size: 1em;
    color: white;
}

.container_exercises {
    height: 100%;
    width: 20em;
    display: flex;
    align-self: flex-end;
    flex-direction: column;
}

.exercises_header{
    margin-bottom: 1em;
    display: flex;
    height: 40px;
    width: 40em;
}

.exercises_title{
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5em;
    font-family: "Roboto Mono";
    font-weight: bolder;
}

.container_list{
    scrollbar-width: none;
    overflow-y: auto;
    width: 20em;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 1;
    position: relative;
    box-sizing: border-box;
}

.container_list > *{
    margin-bottom: 0em;
}

/* Default button style when disabled */
.submitTest.disabled {
    cursor: not-allowed;
}

.submitTest.disabled p {
    background-color: rgb(5, 5, 5);
    color: grey;
    outline: 1px solid grey;
}

/* Hover effect when the button is enabled */
.submitTest.enabled:hover p {
    background-color: green; /* Change to your desired hover color */
    color: white;
    outline: 1px solid green;
    transition: all 0.2s;
}

/* Button enabled state */
.submitTest.enabled {
    cursor: pointer;
}

.submitTest p {
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1em;
    padding: 1em;
    border-radius: 1em;
    font-family: 'Roboto Mono';
    width: 100%;
    background-color: rgb(5, 5, 5);
    outline: 1px solid grey;
    margin: 0;
}


.error_text{
    color: rgba(229,105,99,255) !important;
    font-style: italic;
}

.exerciseDiv{
    font-family: 'Roboto Mono';
    color: white;
    background-color: transparent;
    border-bottom: 1px solid rgb(255, 255, 255, 0.5);
    width: 100%;
    cursor: pointer;
    border-radius: 0;
}

.exerciseDiv:hover{
    transition: background-color 0.2s;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 5px;
    
}

.display_editor_merge_container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-content: flex-end;
    
}

.container_exercises_display{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 65em;
    height: 100%;
    overflow: auto;
}

#title{
    color: white;
    font-size: 1.5em;
    font-family: 'Roboto Mono';
    margin: 0;
}

#desc{
    margin-top: 10px;
    color: white;
    font-size: 1em;
    font-family: 'Roboto Mono';
}

.title_ex{
    font-size: 1em;
}

.desc_ex{
    font-size: 0.5em;
    color: rgb(255, 255, 255, 0.5);
}

#saveCode{
    background-color: green;
}

#runButton{
    background-color: rgb(255, 0, 0, 0.5);
}

.selectedColor{
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 5px;
}















