html {
    font-size: 1vw;
}


*, *::before, *::after {
    box-sizing: border-box;
}
  

body {
    background-color: rgba(0,1,1,255); 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0;
}


.menu{
    margin-right: auto;
    margin-left: auto;
    width: 80em;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2em;
}

.menuWrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    padding-left: 4em;
    padding-right: 4em;
}

.line{
    background-color: rgb(255, 255, 255, 0.5);
    width: 100vw;
    height: 1px;
}


.menutext:hover {
    cursor: pointer;
    transition: 0.4s color;
    color: white;
}

.menutext{
    width: calc(100vh / 3);
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255, 0.7);
    font-family: 'Times New Roman', Times, serif;
    border-radius: 1em;
    padding: 0.5em;
    z-index: 1;
}

.listContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 36em;
    outline: 1px solid rgb(255, 255, 255, 0.5);
    margin-left: auto;
    margin-right: auto;
    border-radius: 1em;
}

.alertWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    margin-top: 0.4em;
    margin-bottom: 1em;
    color: white;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
}

.alert{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 1em;
}

#createTest{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255, 0.5);
    font-family: 'Times New Roman', Times, serif;
    width: fit-content;
    height: fit-content;
    border: 1px solid rgb(255, 255, 255, 0.5);
    border-radius: 1em;
    font-size: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1em;
    padding-top: 1em;
    transition: 0.4s ease;
    cursor: pointer;
}

#createTest:hover{
    color: white;
    border: 1px solid white;
}

.sebLink{
    color: white;
    outline: 1px solid white;
    width: fit-content;
    padding: 1em;
    cursor: pointer;
}